.container {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFF;
}
.content{
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    font-size: 32px;
}
.description{
    font-size: 16px;
    line-height: 1.5;
}
.content input{
    margin-top: 30px;
}
.first-content{
    display: flex;
}

.first-column{
    text-align: center;
    flex:1 0 auto;
    margin-right:50px;
    
}
.link-register{
    text-align: left;
    font-size: 16px;
    color: #444;
}

@media only screen and (max-width: 600px) {
    .img-login{
        display: none;
    }
    .content{
        margin: 20px;
    }
    .first-column{
        text-align: center;
        flex:1 0 auto;
        margin:0 auto;
    }
  }

