.container {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFF;
}
 .content-register{
    background-color: #fff;
    border-radius: 15px;
    max-width: 600px;
    display: inline;
}

.title{
    font-size: 32px;
}
.description{
    font-size: 16px;
    line-height: 1.5;
}

.content-register input{
    margin-top: 10px;
}
.content-register .logo{
    height: 100px;
    text-align: center;
    display: block;
    margin: 0 auto;
}
.group-input{
    display: flex;
}

.group-input input + input{
    margin-left: 8px;
}
