.content-contrato{
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin:32px auto;

}
.content-contrato header{
    display: flex;
    align-items: center;
}
.content-contrato header span{
    font-size: 20px;
    margin-left: 24px;
}
.content-contrato header .profile{
    width: 260px;
    margin-left: auto;
    margin-top: 0;
}
.content-contrato .profile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-contrato .logo{
    height: 64px;
}
.content-contrato .avatar{
    width: 60px;
    height: 60px;
    border: 2px solid #eaeaea;
    border-radius: 110px;
}
.content-contrato .exit{
    height: 60px;
    width: 60px;
    border-radius: 60px;
    border:1px solid red;
    cursor: pointer;
    background: transparent;
    margin-left: 16px;
    transition: border-color 0.2s;
}
.content-contrato main{
    margin-top: 20px;
}
.content-contrato h1{
    margin-top: 30px;
    text-align: left;
}
.content-contrato p{
    line-height: 2;
    text-align: left;
}
.content-contrato .button-voltar{
    cursor: pointer;
    display: flex;
    align-items: center;
    color:#41414d;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
}
.content-contrato .group-data{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 30px;
}
.content-contrato h3{
    text-align: center;
    line-height: 2;
    margin: 10px;
}
.content-contrato .doc{
    display: block;
    margin: o auto;
    margin-bottom: 20px;
    list-style: none;
    text-decoration: none;
    counter-reset: #444;
}
.content-contrato main{
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
}

.content-contrato main ul{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:20px;
    list-style: none;
}
.content-contrato main ul li{
    background: #eaeaea;
    padding: 24px;
    border-radius: 20px;
    position: relative;
    display: flex;
}
.content-contrato main .icon{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 50px;
    margin-right: 20px;
}
.content-contrato main ul li p{
    font-size: 13px;
    font-weight: 200;
    margin-bottom: 10px;
    color: #777;
    text-align: left;

}
.content-contrato main ul li h2{
    font-size: 22px;
}
.content-contrato main ul li strong{
    font-size: 16px;
    font-weight: bold;
}
.content-contrato main ul li button{
    position: absolute;
    right: 24px;
    top: 24px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}


.content-contrato main .search form{
    display: flex;
    width: 100%;
}
.content-contrato main .search form button{
    margin-left: -40px;
    line-height: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}
.content-contrato main .search form button:hover{
    filter: brightness(90%);
}
.content-contrato .header-main{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.content-contrato .header-main .button{
    margin-left: 10px;
    width: auto;
    padding: 0 20px;
    margin-top: 0px;
}
.cadastro-partes{
    width: 100%;
    margin-bottom: 20px;
}
.content-colums{
    display: flex;
    justify-content: space-between;
}
.colum-contrato{
    width: 60%;
}
.colum-partes{
    width: 40%;

}

@media only screen and (max-width: 600px) {
    .content-contrato main ul{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap:10px;
        list-style: none;
    }
    .content-contrato .header-main {
        display: inherit;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .content-contrato .header-main .button {
        margin-left: 0px;
        width: 100%;
        padding: 0;
        margin-top: 10px;
    } 
}