.content-app{
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin:32px auto;

}
.content-app header{
    display: flex;
    align-items: center;
}
.content-app header span{
    font-size: 20px;
    margin-left: 24px;
}
.content-app header .profile{
    width: 260px;
    margin-left: auto;
    margin-top: 0;
}
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    height: 64px;
}
.avatar{
    width: 60px;
    height: 60px;
    border: 2px solid #eaeaea;
    border-radius: 110px;
}
.exit{
    height: 60px;
    width: 60px;
    border-radius: 60px;
    border:1px solid red;
    cursor: pointer;
    background: transparent;
    margin-left: 16px;
    transition: border-color 0.2s;
}
.content-app main{
    margin-top: 20px;
}

main ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:20px;
    list-style: none;
}
main ul li{
    background: #fff;
    padding: 24px;
    border-radius: 20px;
    position: relative;
    display: flex;
}
main .icon{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 50px;
    margin-right: 20px;
}
main ul li p{
    font-size: 13px;
    font-weight: 200;
    margin-bottom: 10px;
    color: #777;
}
main ul li h2{
    font-size: 22px;
}
main ul li strong{
    font-size: 16px;
    font-weight: bold;
}
main ul li button{
    position: absolute;
    right: 24px;
    top: 24px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}


main .search form{
    display: flex;
    width: 100%;
}
main .search form button{
    margin-left: -40px;
    line-height: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}
main .search form button:hover{
    filter: brightness(90%);
}
.header-main{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.header-main .button{
    margin-left: 10px;
    width: auto;
    padding: 0 20px;
    margin-top: 0px;
}

@media only screen and (max-width: 600px) {
    main ul{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap:10px;
        list-style: none;
    }
    .header-main {
        display: inherit;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .header-main .button {
        margin-left: 0px;
        width: 100%;
        padding: 0;
        margin-top: 10px;
    } 
}