.content-new-contrato{
    width: 100%;
    max-width: 960px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: 100vh;
}

.content-new-contrato .colum-one{
    flex:2 0 auto
}
.content-new-contrato .colum-two{
    flex:1 0 auto
}
.content-new-contrato form input{
    margin-bottom: 10px;
}
.content-new-contrato .img-login{
    margin-right: 30px;
    width: 400px;
}
.content-new-contrato input[type="file"]{
    border: none;
    padding: 0px;
}
.content-new-contrato label{
    line-height: 2;
}